<!DOCTYPE html>
<html lang="en">
<style>
    aside {
        width: 250px;
        box-shadow: 0px 0px 9px lightgray;
        float: left;
        padding: 10px;
    }

    .pic-image {
        background-color: #cccccc;
        height: 300px;
        width: 1000px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .pic-text {
        text-align: left;
        position: absolute;
        top: 90%;
        left: 5%;
        transform: translate(-50%, -50%);
        color: white;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 表頭 -->
    <div>
        <a href="https://www.lufthansaholidays.com/en-de">
            <img alt="dropdown icon" width="40" src="../../assets/icons/Lufthansa Logo.png">
        </a>
        <a href="https://www.lufthansaholidays.com/en-de">
            <img alt="dropdown icon" width="300" src="../../assets/icons/Lufthansa.png">
        </a>
        <i class="pi pi-phone" style="font-size: 1.5rem"></i>
        <i>+49 (0) 7221 / 96 90 300</i>
        <i class="pi pi-heart-fill" style="font-size: 1.5rem"></i>
        <img alt="dropdown icon" width="40" src="../../assets/icons/Germany.png">
    </div>

    <!-- 選單 -->
    <div class="card">
        <p-megaMenu [model]="items"></p-megaMenu>
    </div>


    <!-- 機加酒選單 -->
    <div class="formgroup-inline"
        style='background-color:rgb(7, 29, 73); height:70px; width:1200px ;padding:10px;margin-bottom:5px;'>

        <!-- Departure Airport -->
        <p-treeSelect class="w-full md:w-20rem" containerStyleClass="w-full" [(ngModel)]="selectedNodes"
            [options]="nodes" [metaKeySelection]="false" selectionMode="multiple" placeholder="Departure Airport">
        </p-treeSelect>

        <!-- Destination and Hotel -->
        <p-multiSelect [options]="groupedCities" [group]="true" [(ngModel)]="selectedCities"
            placeholder="Destination and Hotel" scrollHeight="250px" display="chip">
            <ng-template let-group pTemplate="group">
                <div class="flex align-items-center">
                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
                    <span>{{ group.label }}</span>
                </div>
            </ng-template>
        </p-multiSelect>

        <!-- Date Range -->
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
            placeholder="Travel Dates"></p-calendar>

        <!-- count of customer-->
        <p-overlayPanel #op>
            <ng-template pTemplate="content">
                <div>
                    <label class="mb-2 block font-bold" for="children">children</label>
                    <p-inputNumber [(ngModel)]="children" [style]="{'width': '4rem'}" [showButtons]="true"
                        buttonLayout="horizontal" spinnerMode="horizontal" inputId="children"
                        decrementButtonClass="p-button-primary" incrementButtonClass="p-button-primary"
                        incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                </div>
                <div>
                    <label class="mb-2 block font-bold" for="adult">adult</label>
                    <p-inputNumber [(ngModel)]="adult" [style]="{'width': '4rem'}" [showButtons]="true"
                        buttonLayout="horizontal" spinnerMode="horizontal" inputId="adult"
                        decrementButtonClass="p-button-primary" incrementButtonClass="p-button-primary"
                        incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                </div>

            </ng-template>
        </p-overlayPanel>
        <p-inputNumber [(ngModel)]="total" inputId="travellers" suffix=" people"> </p-inputNumber>
        <p-button (click)="op.toggle($event)" label="Travellers"></p-button>


    </div>


    <!-- 搜尋篩選＆結果 -->
    <div>
        <!-- 搜尋篩選 -->
        <aside>
            <h2>Budget per person:</h2>
            <div class="card flex justify-content-center">
                <div>
                    <input type="text" pInputText [(ngModel)]="Budget" class="w-full" />
                    <p-slider [(ngModel)]="Budget" class="w-full"></p-slider>
                    <h4 style="float: left;">50&nbsp;€</h4>
                    <h4 style="float: right;">No Limit</h4>
                </div>
            </div>
            <h2>Holiday Check: min</h2>
            <div class="card flex justify-content-center">
                <div>
                    <input type="text" pInputText [(ngModel)]="Check" class="w-full" />
                    <p-slider [(ngModel)]="Check" class="w-full"></p-slider>
                    <h4 style="float: left;">0%</h4>
                    <h4 style="float: right;">100%</h4>
                </div>
            </div>
            <h2>Hotel category: min</h2>
            <div class="card flex justify-content-center">
                <p-rating [(ngModel)]="stars" [cancel]="false"></p-rating>
            </div>
            <!-- Amenities -->
            <h2>Amenities</h2>
            <div class="card flex justify-content-center">
                <div class="flex flex-column gap-2">
                    <div *ngFor="let category of categories" class="field-checkbox">
                        <p-checkbox name="group" [value]="category" [(ngModel)]="selectedCategories"
                            [inputId]="category.key"></p-checkbox>
                        <label [for]="category.key">{{ category.name }}</label>
                    </div>
                </div>
            </div>
            <!-- Board Type -->
            <h2>Board Type</h2>
            <div class="card flex justify-content-center">
                <div class="flex flex-column gap-2">
                    <div *ngFor="let category of categories" class="field-checkbox">
                        <p-checkbox name="group" [value]="category" [(ngModel)]="selectedCategories"
                            [inputId]="category.key"></p-checkbox>
                        <label [for]="category.key">{{ category.name }}</label>
                    </div>
                </div>
            </div>
            <!-- Room type -->
            <h2>Room type</h2>
            <div class="card flex justify-content-center">
                <div class="flex flex-column gap-2">
                    <div *ngFor="let category of categories" class="field-checkbox">
                        <p-checkbox name="group" [value]="category" [(ngModel)]="selectedCategories"
                            [inputId]="category.key"></p-checkbox>
                        <label [for]="category.key">{{ category.name }}</label>
                    </div>
                </div>
            </div>

        </aside>

        <!--搜尋結果 -->
        <!-- 搜尋筆數＆順序 -->
        <div class="formgroup-inline col-8" style="padding-left: 60px;">
            <div class="formgroup-inline col-12" style="border-bottom: 4px solid #ebebeb;">
                <h2>601 Offers</h2>
                <h4>Sort by: </h4>
                <p-dropdown [options]="orderType" [(ngModel)]="selectOrder" optionLabel="name"></p-dropdown>
                <h4>Per page: </h4>
                <p-dropdown [options]="page" [(ngModel)]="selectPage" optionLabel="name"></p-dropdown>
                <a href="https://www.google.com/maps">
                    <img alt="dropdown icon" width="200" src="../../assets/icons/googlemap.png">
                </a>
            </div>

            <!-- hotels結果 -->
            <div class="card col-12">
                <p-dataView #dv [value]="products" [rows]="8" [paginator]="true">  
                    <ng-template let-product pTemplate="listItem">
                        <div class="col-12"
                            style=" box-shadow: 0px 0px 9px lightgray;  border-bottom: 4px solid #ebebeb;">
                            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                                <img style="width: 250px;" [src]="product.imageUrl" [alt]="product.name" />
                                <div
                                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">

                                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                        <div class="text-2xl font-bold text-900">{{ product.name }}</div>
                                        <div class=" formgroup-inline">
                                            <span>{{ product.description }}</span>
                                            <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false">
                                            </p-rating>
                                        </div>
                                        <div class=" formgroup-inline">
                                            <div class="flex align-items-center gap-3"
                                                style="height: 28px;width: 95px; background-color: rgb(14, 85, 205);border-radius: 5px; border:solid lightgray">
                                                <i class="pi pi-thumbs-up-fill"
                                                    style="font-size: 1rem; color: white; padding: 10px;"></i>
                                                <span class="flex align-items-center gap-2" style="color: white;">
                                                    {{ product.quantity }} %
                                                </span>
                                            </div>
                                            <div class="flex align-items-center gap-3"
                                                style="height: 28px;width: 95px; background-color: white;border-radius: 5px; border:solid lightgray">
                                                <i class="pi pi-sun"
                                                    style="font-size: 1rem; color: rgb(255, 202, 58); padding: 10px;"></i>
                                                <span class="flex align-items-center gap-2"
                                                    style="color: rgb(0, 8, 32);">
                                                    {{ product.rating }}/6
                                                </span>
                                            </div>
                                            <div class="flex align-items-center gap-3">
                                                <span class="flex align-items-center gap-2"
                                                    style="color: rgb(59, 75, 102);padding: 5px;">
                                                    {{ product.price }} ratings
                                                </span>
                                            </div>
                                        </div>

                                        <div class=" formgroup-inline">
                                            <div class="flex align-items-center gap-3">
                                                <span class="flex align-items-center gap-2"
                                                    style="color: rgb(59, 75, 102);padding: 5px;">
                                                    {{ product.category }} / {{ product.name }} / {{product.image}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
                                        style="color: #071d49;">
                                        <div class=" formgroup-inline">
                                            <i class="pi pi-map-marker" style="font-size: 1.5rem; padding: 10px;"></i>
                                            <i class="pi pi-heart" style="font-size: 1.5rem; padding: 10px;"></i>
                                        </div>
                                        <span class="text-0.5xl font-semibold">{{product.rating}} nights</span>
                                        <i class="pi pi-send" style="font-size: 1.8rem; padding: 10px;"></i>
                                        <span class="text-0.5xl font-semibold">p/p from</span>
                                        <span class="text-3xl font-semibold">{{ product.price *5 +' €'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
                <button class="text-2xl font-semibold" style="float: right;">Next Page ></button>
            </div>

        </div>



    </div>


</body>

</html>