<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body> -->
<!-- 表頭 -->
<!-- <div>
    <a href="https://www.lufthansaholidays.com/en-de">
      <img alt="dropdown icon" width="40" src="../../assets/icons/Lufthansa Logo.png">
    </a>
    <a href="https://www.lufthansaholidays.com/en-de">
      <img alt="dropdown icon" width="300" src="../../assets/icons/Lufthansa.png">
    </a>
    <i class="pi pi-phone" style="font-size: 1.5rem"></i>
    <i>+49 (0) 7221 / 96 90 300</i>
    <i class="pi pi-heart-fill" style="font-size: 1.5rem"></i>
    <img alt="dropdown icon" width="40" src="../../assets/icons/Germany.png">
  </div> -->

<!-- 選單 -->
<!-- <div class="card">
    <p-megaMenu [model]="items"></p-megaMenu>
  </div> -->
<!-- 圖片旋轉-->
<p-galleria [value]="images" [showItemNavigators]="true" [autoPlay]="true" [circular]="true" [showThumbnails]="false"
  [showIndicators]="true" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions">
  <!-- [containerStyle]="{ 'max-width': '1140px','margin-top':'2em' }" -->

  <ng-template pTemplate="item" let-item>
    <img [src]="item.itemImageSrc" style="width: 1840px; display: block;" />
    <div class="TeaserDestination_offerWrapper_sIsrJ">
      <h1> Sunny time out on Mallorca </h1>
      <h1>e. g. 5 nights at the 4* Hotel ZAFIRO Can Picafort | Halfboard Plus</h1>
      <h2> from 590 €</h2>
      <br>
      <a href="/en-de/hotel/all-destinations/greece/crete/further-places-crete/annabelle-beach-resort-7800?los=7&amp;dd=2024-04-04T00%3A01%3A00%2B00%3A00&amp;rd=2025-08-31T00%3A01%3A00%2B00%3A00&amp;travellers=25%2C25&amp;maxp=-1&amp;stopOver=10000&amp;viewMode=hotelCascade&amp;from=BRE%2CCGN%2CDRS%2CDUS%2CERF%2CFDH%2CFKB%2CFMO%2CFRA%2CKSF%2CBER%2CLBC&amp;airl=&amp;id=7800&amp;name=Annabelle+Beach+Resort&amp;staticGroupId=68429"
        target="_self">
        <p-button label="Book Now"></p-button>
      </a>
    </div>
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.thumbnailImageSrc" style="display: block;" />
    </div>
  </ng-template>
</p-galleria>
<!-- 機加酒選單 -->
<div class="grid" style='background-color:rgb(7, 29, 73); height:70px; padding:10px;margin-bottom:5px;'>
  <!-- Departure Airport -->
  <div class="col-2">
    <p-overlayPanel #op>
      <div class="grid">
        <div class="col-6">
          <h2>Pick a country</h2>
          <p-listbox [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
            [multiple]="true" [metaKeySelection]="false" [style]="{ width: '15rem' }"
            [listStyle]="{'max-height': '400px'}"></p-listbox>
        </div>
        <div class="col-6">
          <h2>Pick an airport</h2>
          <p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [multiple]="true"
            [metaKeySelection]="false" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '400px'}"></p-listbox>
          <br>
          <p-button label="Done"></p-button>
        </div>
      </div>
    </p-overlayPanel>
    <input type="text" pInputText placeholder="Departure Airport" (click)="op.toggle($event)" />
  </div>
  <!-- Destination and Hotel -->
  <div class="col-2">
    <p-overlayPanel #op2>
      <div class="grid">
        <div class="col-6">
          <h2>Pick a country</h2>
          <p-listbox [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
            [multiple]="true" [metaKeySelection]="false" [style]="{ width: '15rem' }"
            [listStyle]="{'max-height': '400px'}"></p-listbox>
        </div>
        <div class="col-6">
          <h2>Pick a destination</h2>
          <p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [multiple]="true"
            [metaKeySelection]="false" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '400px'}"></p-listbox>
          <br>
          <p-button label="Done"></p-button>
        </div>
      </div>
    </p-overlayPanel>
    <input type="text" pInputText placeholder="Destination and Hotel" (click)="op2.toggle($event)" />
  </div>
  <!-- Date Range -->
  <div class="col-2">
    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
      placeholder="Travel Dates"></p-calendar>
  </div>
  <!-- count of customer-->
  <div class="col-2">
    <p-overlayPanel #op3 [style]="{'width': '330px'}">
      <ng-template pTemplate="content">
        <div>
          <label class="mb-2 block font-bold" for="children">children</label>
          <p-inputNumber [(ngModel)]="children" [style]="{'width': '4rem'}" [showButtons]="true"
            buttonLayout="horizontal" spinnerMode="horizontal" inputId="children"
            decrementButtonClass="p-button-primary" incrementButtonClass="p-button-primary"
            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
        </div>
        <br>
        <div>
          <label class="mb-2 block font-bold" for="adult">adult</label>
          <p-inputNumber [(ngModel)]="adult" [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="horizontal"
            spinnerMode="horizontal" inputId="adult" decrementButtonClass="p-button-primary"
            incrementButtonClass="p-button-primary" incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"></p-inputNumber>
        </div>
        <br>
        <p-button [style]="{'float': 'right'}" label="Done"></p-button>

      </ng-template>
    </p-overlayPanel>
    <p-inputNumber (click)="op3.toggle($event)" [(ngModel)]="total" suffix=" people" inputId="travellers"
      placeholder=" Travellers"> </p-inputNumber>
  </div>
  <div class="col-2">
    <p-button label="Search"></p-button>
  </div>

</div>

<!-- 標題 -->
<h1 class=" TeaserSection_title_VOALZ">
  Flight & Hotel Highlights
</h1>
<h2>
  Book the perfect holiday
</h2>
<!-- 卡片式選單 -->
<div class="grid">
  <div class="col-4">
    <div class="pic-image"
      style="height: 300px;width:380px ; background-image: url('https://lufthansaholidays.wavecdn.net/icmphotels/hlx/960_638/1471587761_TFS198B_1.jpg');">
      <div class="Teaser_contentWrapper__foZ5 ">
        <h2>Tenerife | 3* Apartamentos</h2>
        <h2>Masaru | Breakfast</h2>
        <h3>7 nights p/p from</h3>
        <h3>477 €</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="pic-image"
      style="height: 300px;width:380px ; background-image: url('https://lufthansaholidays.wavecdn.net/icmphotels/hlx/960_638/1695806491_PMI651B_01.jpg');">
      <div class="Teaser_contentWrapper__foZ5 ">
        <h2>Majorca | 4* Anba </h2>
        <h2>Romani | Breakfast</h2>
        <h3>7 nights p/p from</h3>
        <h3>390 €</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="pic-image"
      style="height: 300px;width:380px ; background-image: url('https://lufthansaholidays.wavecdn.net/icmphotels/hlx/960_638/1669022728_neuneuCRE_1000015706_01.jpg');">
      <div class="Teaser_contentWrapper__foZ5 ">
        <h2> Corfu | 5* </h2>
        <h2>MarBella | all inclusive plus</h2>
        <h3>7 nights p/p from</h3>
        <h3>1318 €</h3>
      </div>
    </div>
  </div>
  <!-- 照片+按鈕 -->
  <div class="col-12">
    <div class="pic-image"
      style="height: 350px;width:1180px ; background-image: url('https://lhhcdn.wavecdn.net/dniojkjnx/image/upload/w_1140,h_330,c_fill/v1713869127/common/c2leayvfwcw5xvrzzy0w.jpg');">
      <div class="TeaserDestination_offerWrapper_sIsrJ ">
        <h1> Summerfeeling in Abu Dhabi </h1>
        <h1>e. g. 7 nights at the 5* Bab Al Qasr Hotel | Breakfast</h1>
        <h2> from 900 €</h2>
        <br>
        <a href="/en-de/hotel/all-destinations/greece/crete/further-places-crete/annabelle-beach-resort-7800?los=7&amp;dd=2024-04-04T00%3A01%3A00%2B00%3A00&amp;rd=2025-08-31T00%3A01%3A00%2B00%3A00&amp;travellers=25%2C25&amp;maxp=-1&amp;stopOver=10000&amp;viewMode=hotelCascade&amp;from=BRE%2CCGN%2CDRS%2CDUS%2CERF%2CFDH%2CFKB%2CFMO%2CFRA%2CKSF%2CBER%2CLBC&amp;airl=&amp;id=7800&amp;name=Annabelle+Beach+Resort&amp;staticGroupId=68429"
          target="_self">
          <p-button label="Book Now"></p-button>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- 標題 -->
<h1 class=" TeaserSection_title_VOALZ">Canary Islands</h1>

<!-- 卡片式選單 -->
<div class="grid">
  <div class="col-4">
    <div class="pic-image"
      style="height: 300px;width:380px ; background-image: url('https://lufthansaholidays.wavecdn.net/icmphotels/hlx/960_638/1471587761_TFS198B_1.jpg');">
      <div class="Teaser_contentWrapper__foZ5 ">
        <h2>Tenerife | 3* Apartamentos</h2>
        <h2>Masaru | Breakfast</h2>
        <h3>7 nights p/p from</h3>
        <h3>477 €</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="pic-image"
      style="height: 300px;width:380px ; background-image: url('https://lufthansaholidays.wavecdn.net/icmphotels/hlx/960_638/1657698030_OTS_AMTSES0QWS_1256de2d2790a02e0fe2ee51ea5e1002.jpg');">
      <div class="Teaser_contentWrapper__foZ5 ">
        <h2>Majorca | 4* Anba </h2>
        <h2>Romani | Breakfast</h2>
        <h3>7 nights p/p from</h3>
        <h3>390 €</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="pic-image"
      style="height: 300px;width:380px ; background-image: url('https://lufthansaholidays.wavecdn.net/icmphotels/hlx/960_638/1638779459_FUE25B_aa_10.jpg');">
      <div class="Teaser_contentWrapper__foZ5 ">
        <h2> Corfu | 5* </h2>
        <h2>MarBella | all inclusive plus</h2>
        <h3>7 nights p/p from</h3>
        <h3>1318 €</h3>
      </div>
    </div>
  </div>
  <!-- 照片+按鈕 -->
  <div class="col-12">
    <div class="pic-image"
      style="height: 350px;width:1180px ; background-image: url('https://lhhcdn.wavecdn.net/dniojkjnx/image/upload/w_420,h_300,c_fill/v1714392403/common/jv1hluguvcknxpnq736f.jpg');">
      <div class="TeaserDestination_offerWrapper_sIsrJ ">
        <h1> Summerfeeling in Abu Dhabi </h1>
        <h1>e. g. 7 nights at the 5* Bab Al Qasr Hotel | Breakfast</h1>
        <h2> from 900 €</h2>
        <br>
        <a href="/en-de/hotel/all-destinations/greece/crete/further-places-crete/annabelle-beach-resort-7800?los=7&amp;dd=2024-04-04T00%3A01%3A00%2B00%3A00&amp;rd=2025-08-31T00%3A01%3A00%2B00%3A00&amp;travellers=25%2C25&amp;maxp=-1&amp;stopOver=10000&amp;viewMode=hotelCascade&amp;from=BRE%2CCGN%2CDRS%2CDUS%2CERF%2CFDH%2CFKB%2CFMO%2CFRA%2CKSF%2CBER%2CLBC&amp;airl=&amp;id=7800&amp;name=Annabelle+Beach+Resort&amp;staticGroupId=68429"
          target="_self">
          <p-button label="Book Now"></p-button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- 標題 -->
<h1 class=" TeaserSection_title_VOALZ">City Highlights</h1>
<h1>Experience the diversity of Europe's cities</h1>

<!-- 卡片式選單 -->
<div class="grid">
  <div class="col-4">
    <div class="pic-image"
      style="height: 300px;width:380px ; background-image: url('https://lhhcdn.wavecdn.net/dniojkjnx/image/upload/w_360,h_300,c_fill/v1714462196/common/iv7lnxpaiojx7bynnunl.jpg');">
      <div class="Teaser_contentWrapper__foZ5 ">
        <h2>Tenerife | 3* Apartamentos</h2>
        <h2>Masaru | Breakfast</h2>
        <h3>7 nights p/p from</h3>
        <h3>477 €</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="pic-image"
      style="height: 300px;width:380px ; background-image: url('https://lhhcdn.wavecdn.net/dniojkjnx/image/upload/w_360,h_300,c_fill/v1714462274/common/bmkpqqg79vddgzf6aqqd.jpg');">
      <div class="Teaser_contentWrapper__foZ5 ">
        <h2>Majorca | 4* Anba </h2>
        <h2>Romani | Breakfast</h2>
        <h3>7 nights p/p from</h3>
        <h3>390 €</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="pic-image"
      style="height: 300px;width:380px ; background-image: url('https://lufthansaholidays.wavecdn.net/icmphotels/hlx/960_638/1550856123_HTB_623729_623729a_hb_a_002.jpg');">
      <div class="Teaser_contentWrapper__foZ5 ">
        <h2> Corfu | 5* </h2>
        <h2>MarBella | all inclusive plus</h2>
        <h3>7 nights p/p from</h3>
        <h3>1318 €</h3>
      </div>
    </div>
  </div>
  <!-- 照片+按鈕 -->
  <div class="col-12">
    <div class="pic-image"
      style="height: 350px;width:1180px ; background-image: url('https://lhhcdn.wavecdn.net/dniojkjnx/image/upload/w_1140,h_330,c_fill/v1714462422/common/fz6vmjrn9h4cbflpkyvc.jpg');">
      <div class="TeaserDestination_offerWrapper_sIsrJ ">
        <h1> Summerfeeling in Abu Dhabi </h1>
        <h1>e. g. 7 nights at the 5* Bab Al Qasr Hotel | Breakfast</h1>
        <h2> from 900 €</h2>
        <br>
        <a href="/en-de/hotel/all-destinations/greece/crete/further-places-crete/annabelle-beach-resort-7800?los=7&amp;dd=2024-04-04T00%3A01%3A00%2B00%3A00&amp;rd=2025-08-31T00%3A01%3A00%2B00%3A00&amp;travellers=25%2C25&amp;maxp=-1&amp;stopOver=10000&amp;viewMode=hotelCascade&amp;from=BRE%2CCGN%2CDRS%2CDUS%2CERF%2CFDH%2CFKB%2CFMO%2CFRA%2CKSF%2CBER%2CLBC&amp;airl=&amp;id=7800&amp;name=Annabelle+Beach+Resort&amp;staticGroupId=68429"
          target="_self">
          <p-button label="Book Now"></p-button>
        </a>
      </div>
    </div>
  </div>
</div>

<!--小產品選單-->
<h1 class=" TeaserSection_title_VOALZ">All about your trip</h1>
<div class="grid">
  <div class="col-3">
    <p-card header="Miles * More" [style]="{width: '280px'}">
      <ng-template pTemplate="header">
        <img alt="Card"
          src="https://lhhcdn.wavecdn.net/dniojkjnx/image/upload/w_270,h_180,c_fill/v1688734027/common/h7crlio85g3xl39vmqml.jpg" />
      </ng-template>
    </p-card>
  </div>
  <div class="col-3">
    <p-card header="Voucher conditions" [style]="{width: '280px'}">
      <ng-template pTemplate="header">
        <img alt="Card"
          src="https://lhhcdn.wavecdn.net/dniojkjnx/image/upload/w_270,h_180,c_fill/v1688734076/common/gqdt9uu7bdajleun6yah.jpg" />
      </ng-template>
    </p-card>
  </div>
  <div class="col-3">
    <p-card header="Our Newsletter" [style]="{width: '280px'}">
      <ng-template pTemplate="header">
        <img alt="Card"
          src="https://lhhcdn.wavecdn.net/dniojkjnx/image/upload/w_270,h_180,c_fill/v1688734155/common/fugfcwmhnux81mtqjvzy.jpg" />
      </ng-template>
    </p-card>
  </div>
  <div class="col-3">
    <p-card header="Holidays incl. rental car" [style]="{width: '280px'}">
      <ng-template pTemplate="header">
        <img alt="Card"
          src="https://lhhcdn.wavecdn.net/dniojkjnx/image/upload/w_270,h_180,c_fill/v1653492016/common/mdt9tsq4hehyba8tuw2z.png" />
      </ng-template>
    </p-card>
  </div>
</div>

<!-- 客服 -->
<div>
  <h3 class="TeaserSection_title_VOALZ" style="font-size: 24px;">Do you need help with your booking? </h3>
  <br>
  <strong><img style="width: 250px;"
      src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/advisor/wp-content/uploads/2023/06/customerservice.jpg"></strong>
  <h4>Our service team will be happy to assist you Monday to Friday from 08:00am to 08:00pm and Saturdays and
    Sundays
  </h4>
  <h4>from 10:00am to 06:00pm and on public holidays from 10:00am to 06:00pm by telephone or e-mail:</h4>
  <br>
  <h4>Telephone: +49 (0) 234 961 036 26</h4>
  <h4> Email: service.lhh@hlx.com</h4>

</div>

<!-- </body>

</html> -->